/*******************************************************************
    General styling of the whole screen.
*********************************************************************/

div {
    /*border: 2px solid red*/
}
body {
    /*background-color: lightskyblue;*/
}
.container {
    width: 80%;
    min-width: 500px;
    max-width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;


    font: 12px arial, sans-serif;
}

input[type="button"] {
    margin-bottom: 20px;
    padding: 0px;
    height: 30px;
    width: 10%;
    min-width: 120px;

    border: solid #000000 1px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background: #ffffff;
    box-shadow: 3px 3px #000000;
    font: 12px arial, sans-serif;
}

input[type="button"].blue_button {
     background-color: cornflowerblue;
 }

input[type="button"].red_button {
    background-color: crimson;
}

input[type="button"].green_button {
    background-color: lightgreen;
}

input[type="button"].white_button {
    background-color: white;
}

input[type="button"]:focus {
    /*background-color: deeppink;*/
}

button:active {
    /*background-color: chartreuse;*/
}

button:hover {
    background: #e3e3e3;
}

.flash {
    height: 15px;
}